<div class="header-bar flex align-items-center">
  <div class="flex flex-grow-0 align-items-center ml-1 header-left">
    <!-- <button pButton type="button" icon="pi pi-bars" class="p-button-text p-button-plain"></button> -->
    <span> > {{ currentPageTitle }} </span>
  </div>
  <div class="flex  flex-grow-1 justify-content-center">
    <span class="header-main-title">DDZ-Manager</span>
  </div>
  <div class="flex  flex-grow-0 mr-1 flex-column align-items-end header-right">
    <span #time></span>
    <span #date></span>
  </div>
</div>
